<div class="d-flex justify-content-left">
    <p class="text-center">Volte para pagina inicial <a href=""routerLink = '/entrar'>Pagina Inicial</a></p>
</div>
<div class="container-fluid p-0 mt-5 ">
    <div class="jumbotron jumbotron-fluid text-center mb-0">
      <div class="container">
        <h1 class="mb-4">Nossa missão</h1>
        <p class="lead text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, ducimus accusantium asperiores consequatur saepe veritatis nam, vitae porro non ipsam similique adipisci nesciunt in, pariatur repellat officia aperiam provident. Reiciendis.
        </p>
      </div>
    </div>
  </div>
  
<div class="container">
    <div class="row text-center justify-content-center">

        <!-- Team item -->
        <div class="col-xl-2 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://github.com/arydsr.png" alt=""
                    width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-4">Ary de Sá</h5><span class="small text-uppercase text-muted">Java Developer</span>
                <ul class="social mb-0 list-inline mt-3 text-center d-flex justify-content-center">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-2 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://github.com/Fe-r-nanda.png" alt=""
                    width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Fernanda Correia</h5><span class="small text-uppercase text-muted">JAVA DEVELOPER</span>
                <ul class="social mb-0 list-inline mt-3 text-center d-flex justify-content-center">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-2 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://github.com/MacenaKelvin.png" alt=""
                    width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-4">Kelvin Silva</h5><span class="small text-uppercase text-muted">JAVA DEVELOPER</span>
                <ul class="social mb-0 list-inline mt-3 text-center d-flex justify-content-center">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->
        <!-- Team item -->
        <div class="col-xl-2 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://github.com/LucasOtoni.png" alt=""
                    width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-4">Lucas Otoni</h5><span class="small text-uppercase text-muted">JAVA DEVELOPER</span>
                <ul class="social mb-0 list-inline mt-3 text-center d-flex justify-content-center">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->
        <!-- Team item -->
        <div class="col-xl-2 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://github.com/RenataDayana.png" alt=""
                    width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Renata Menezes</h5><span class="small text-uppercase text-muted">JAVA DEVELOPER</span>
                <ul class="social mb-0 list-inline mt-3 text-center d-flex justify-content-center">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->
    </div>
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>A well-known quote, contained in a blockquote element.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
        </figcaption>
    </figure>
</div>